# # Event log for sway
# # FIXME: Handle case when no events are present (then the scripts won't work)
#
# ## To make it work:
# 1) Export $CONFIG_SWITCHES_PATH variable which will point to this repo:
#    $ export CONFIG_SWITCHES_PATH=~/config-switches
#
# 2) Create the event log.
#    The default path should be ~/.config/sway/config):
#    $ touch ~/.config/sway/sway-config-event-log
#
# 3) Create a symlink in sway config's directory:
#    $ ln -s ~/config-switches/sway-config-event-log ~/.config/sway/sway-config-event-log
#
# 4) Include the event log at the end of your sway config file:
#    include sway-config-event-log
#
# To verify that it works, run any script:
# $ toggle-laptop
#
# If you did everything correctly, an event should be appended at the end of sway-config-event-log file.
#
# ## Sample events follow:

# Tue 24 Sep 2019 03:52:20 AM CEST - event:
set $is_laptop_on disable
output $laptop $is_laptop_on
# Tue 24 Sep 2019 03:52:32 AM CEST - event:
set $is_laptop_on enable
output $laptop $is_laptop_on
# Tue 24 Sep 2019 04:41:45 AM CEST - event:
set $is_laptop_on disable
output $laptop $is_laptop_on
# Tue 24 Sep 2019 04:41:51 AM CEST - event:
set $is_laptop_on enable
output $laptop $is_laptop_on
# Tue 24 Sep 2019 04:41:55 AM CEST - event:
set $is_laptop_on disable
output $laptop $is_laptop_on
# Tue 24 Sep 2019 10:40:46 PM CEST - event:
set $is_laptop_on enable
output $laptop $is_laptop_on
# Wed 25 Sep 2019 02:41:08 AM CEST - event:
set $is_laptop_on disable
output $laptop $is_laptop_on
# Wed 25 Sep 2019 03:06:52 AM CEST - event:
output $laptop transform 270
# Wed 25 Sep 2019 03:07:04 AM CEST - event:
output $laptop transform 0
# Wed 25 Sep 2019 03:10:01 AM CEST - event:
output $laptop transform 270
# Wed 25 Sep 2019 03:10:05 AM CEST - event:
output $laptop transform 0
# Wed 25 Sep 2019 03:38:45 PM CEST - event:
set $is_laptop_on enable
output $laptop $is_laptop_on
# Thu 26 Sep 2019 12:40:14 AM CEST - event:
set $is_laptop_on disable
output $laptop $is_laptop_on
# Thu 26 Sep 2019 01:17:30 AM CEST - event:
output $laptop transform 270
# Thu 26 Sep 2019 01:27:27 AM CEST - event:
output $laptop transform 0
# Thu 26 Sep 2019 01:55:02 AM CEST - event:
set $is_laptop_on enable
output $laptop $is_laptop_on
